<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta  content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/NiceAdmin/assets/css/styles2.css">
    <link href="/NiceAdmin/assets/img/favicon.png" rel="icon">
    <title>Daftar!</title>
</head>
<body>
{% block body %}
    <div class="row justify-content-center">
        {% for label, messages in app.flashes(['success', 'warning']) %}
            {% for message in messages %}
                {% if label == 'success' %}
                    <div class="alert alert-success bg-success text-light border-0 alert-dismissible fade show" role="alert">
                        {{ message }}

                    </div>
                {% else %}
                    <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
     </div>
     <form>   
        <h3>Pendaftaran</h3>
        {{ form_start(registrationForm) }}
        <label for="nama">Nama</label>
        <input type="text" placeholder="Masukkan nama penuh anda" id="nama">
        <label for="email">Email</label>
        <input type="email" placeholder="Masukkan email anda" id="email">
        <label for="password">Kata Laluan</label>
        <input type="password" placeholder="Masukkan Kata Laluan" id="password">
        <label for="repassword">Ulang Kata Laluan</label>
        <input type="repassword" placeholder="Ulang Kata Laluan" id="repassword">
        <div class="social">
            <button class="but1" type="button" type="submit">Daftar</button>
            <div class="space"></div>
            <button class="but2" type="button" type="submit">Batal</button>
        </div>
        
        <!-- <div class="social">
            <div class="ig" href="https://www.google.com/"><i class="fab fa-google"></i>  Google</div>
            <div class="fb" href="https://www.instagram.com/accounts/login/?next=/officialmosti/"><i class="fab fa-instagram"></i>  Instagram</div>
        </div> -->
        <p>Telah berdaftar?<a href="{{ path('app_login')}}">Log Masuk</a></p>
    </form>
{% endblock %}
</body>
</html>