{% extends 'base.html.twig' %}

{% block title %}New Cuti{% endblock %}

{% block content %}
    <h1>Create new Cuti</h1>

    {{ include('cuti/_form.html.twig') }}

    <a href="{{ path('app_cuti_index') }}">back to list</a>
{% endblock %}
